@font-face {
    font-family: "Lexend-Regular";
    src: url('../font/Lexend-Regular.ttf');
}

@font-face {
    font-family: "Lexend-Light";
    src: url('../font/Lexend-Light.ttf');
}

@font-face {
    font-family: "TiltWarp-Regular";
    src: url('../font/TiltWarp-Regular.ttf');
}

h1, h2, p, span, .h1, .h2, .p, .span  {
    font-family: "Lexend-Regular", sans-serif;
    color: black;
}

.list-unstyled {
    text-overflow: ellipsis;
}

.event-time {
    color: black
}

.big-day {
    font-family: "TiltWarp-Regular", sans-serif;
    font-size: 18rem;
    color: black;
}

.event {
    max-width: 95%;
    font-family: "Lexend-Regular", sans-serif;
    font-size: 2.5rem;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;     /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.date-padding {
  padding-right:1;
  padding-left:0;
  padding-top:0;
  padding-bottom:0;
}

.add-padding {
  padding-right:10;
  padding-left:10;
  padding-top:0;
  padding-bottom:0;
}

div.batt_container {
    width: 53px;
    height: 27px;
    position: absolute;
    top: 5;
    left: 5;
    overflow: hidden;
}
  
div.batt_container  {
    z-index: 10;
}
  
div.batt_container .battery80 {
    position: relative;
    left: 0px;
    top: 0px;
}
  
div.batt_container .battery60 {
    position: relative;
    left: 0px;
    top: -44px;
}
  
div.batt_container .battery40 {
    position: relative;
    left: 0px;
    top: -89px;
}
  
div.batt_container .battery20 {
    position: relative;
    left: 0px;
    top: -134px;
}
  
div.batt_container .battery0 {
    position: relative;
    left: 0px;
    top: -178px;
}
  
div.batt_container .batteryHide {
      display: none;
}